$input-field-color: #ffffff63;
$main-text-color: #dddddd;
$theme-color: #2CAA73;
$theme-color-darken: #238b5e;
$links-color: #0078D4;
$error-message-background: #842828;
$list-item-active-background: #2CAA7316;
$list-item-hover-background: rgba(44, 170, 115, 0.05);
$light-background-color: #ffffff0a;
$button-orange: #C14E21;
$button-red: #842828;
$popup-message-background: #3f3f3fCC;
