$input-border-radius: 1.5rem;
$input-checkbox-border-radius: 25%;
$button-border-radius: 1.5rem;
$preview-panel-border-radius: 1.5rem;
$input-border-padding: 0.2rem 1.5rem;
$input-date-padding: 0.2rem 1rem;
$logo-wrap-padding: 0.2rem 1rem;
$input-border-margin: 1rem;
$button-border-margin: 1rem 0rem;
$input-font-size: 2rem;
$preview-panel-title-font-size: 1.5rem;
$preview-panel-font-size: 1.2rem;
$preview-panel-title-bottom-margin: 1rem;
$button-font-size: 1.5rem;
$searchbar-font-size: 1.5rem;
$error-box-font-size: 1rem;
$error-box-margin: 0.25rem 1rem;
$link-font-size: 0.8rem;
$error-box-border-radius: 1.5rem;
$list-item-text-padding: 0rem 0.5rem;
$list-item-text-vertical-position: 0.4rem;
$list-item-padding: 0.25 0.5rem;
$list-item-font-size: 1.5rem;
$list-icon-size: 2rem;
$list-title-font-size: 2rem;
$active-user-font-size: 2rem;
$searchbar-padding: 0.2rem 3rem 0.2rem 1.5rem;
$main-font-size: 1.5rem;
$statistic-user-name-font-size: 1.5rem;
$board-font-size: 2rem;
$info-panel-padding: 1rem 0.5rem 1rem 1rem;
$boards-view-padding: 3rem;
$task-preview-font-size: 1.2rem;
$task-preview-padding: 0.2rem 0.7rem;
$task-preview-margin:  0 0 0.5rem 0;
$user-preview-width: 15rem;
$group-title-font-size: 2rem;
$schedule-title-font-size: 1.5rem;
$statistic-font-size: 1.2rem;