@import "../Res/Values.scss";
@import "../Res/Colors.scss";

.boardTemplateContainer {
  position: relative;
  height: 40rem;
  width: 43.5rem;
  font-size: $main-font-size;
  color: $main-text-color;
  bottom: 1rem;
  top: 0.5rem;
  text-align: left;
  margin-left: 6.25rem;
}

.boardTemplateAdjust {
  margin-left: -1.5rem;
}

.boardTemplateRow {
  display: flex;
}

.boardTemplateInline {
  margin-right: 0.5rem;
}

.boardTemplateUserListHeight {
  height: 12rem;
  overflow-y: auto;
}

.boardTemplateInlineSat {
  filter: invert(99%) sepia(14%) saturate(15%) hue-rotate(114deg) brightness(115%) contrast(100%);
  width: 2rem;
  height: 2rem;
}

.boardTemplateClosePopUp {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.boardTemplateUserListTaskHeight {
  height: 2.25rem;
  overflow-y: auto;
}