@import "../Res/Colors.scss";
@import "../Res/Values.scss";

.o-Button {
  display: block;
  border: none;
  border-radius: $button-border-radius;
  font-size: $button-font-size;
  box-sizing: border-box;
  padding: $input-border-padding;
  margin: $button-border-margin;
  width: 100%;
  text-align: center;
  color: $main-text-color;
}

.o-Button:focus{
  outline: none;
  border-bottom: 0.2rem solid $theme-color-darken;
}

.o-Button-Green {
  background: $theme-color;
}

.o-Button-Orange {
  background: $button-orange;
}

.o-Button-Red {
  background: $button-red;
}

.o-ButtonIcon {
  position: relative;
  height: 1rem;
  bottom: -0.25rem;
  padding: 0 0.2rem 0 0;
  filter: invert(100%);
}