@import "../Res/Values.scss";
@import "../Res/Colors.scss";

.boardTemplateContainer {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns:  minmax(5rem, auto);
  grid-template-rows: 2rem 17rem auto auto 10rem;
}

.boardTemplateContainer > label {
  grid-column: 1;
  grid-row: 1;
}

.o-CudInput {
  margin: 1rem 0 !important;
  width: 100%;
}

.boardInputs {
  width: 100%;
  max-width: 43.5rem;
  text-align: center;
  grid-column: 1;
  grid-row: 2
}

.boardTemplateRow {
  display: block;
}

.boardTemplateRow > div {
  display: inline-block;
}

.o-AdditionalRow {
  grid-column: 1 ;
  grid-row: 3;
  margin: 2rem 0 0 0;
}

.boardTemplateAssignedUsers {
  grid-column: 1;
  grid-row: 4;
}

.boardTemplateUserListTaskHeight {
  height: 100%;
  max-width: 43.5rem;
  overflow-y: auto;
  grid-column: 1;
  grid-row: 5;
}

.boardTemplateInline {
  margin-right: 0.5rem;
}

.o-DateTitle {
  display: block;
  position: relative;
  margin: -2rem 0 0 0;
}

.boardTemplateInlineSat {
  filter: invert(100%);
  width: 2rem;
  height: 2rem;
}

.boardTemplateClosePopUp {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.o-EstimatedTime {
  display: inline-block;
  margin-top: 0.25rem;
}

@media only screen and (max-width : 495px) {
  .ob-AddAdditionalMargin {
    margin-top: 2.5rem;
  }

  .ob-MiniSearchBarPopup {
    position: relative;
    display: block;
    top: 1.5rem;
    margin-left: -12rem;
  }
}
