@import "../Res/Colors.scss";
@import "../Res/Values.scss";

.o-InputField {
  display: block;
  background: $input-field-color;
  border: none;
  border-radius: $input-border-radius;
  font-size: $input-font-size;
  box-sizing: border-box;
  padding: $input-border-padding;
  margin: $input-border-margin;
  width: 100%;
  text-align: center;
  color: $main-text-color;
}

.o-InputField::placeholder {
   color: $main-text-color;
   text-align: center;
}

.o-InputField:focus{
  outline: none;
  border-bottom: 0.1rem solid $theme-color;
}

.o-InputEmpty {
  display: block;
  background: none;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  box-sizing: border-box;
  padding: 0.01rem;
  margin: 0.1rem;
  width: 60%;
  text-align: center;
  color: $main-text-color;
}

::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: orange; }