@import "../../Res/Values.scss";
@import "../../Res/Colors.scss";

.o-AddTask {
  position: relative;
  width: 100%;
  text-align: center;
  filter: invert(70%);
}

.taskPanel {
  margin: 0 0.5rem 1rem 0.5rem;
}

.o-Boards {
  width: 75vw;
  height: 70vh;
  overflow-y: auto;
}

.o-BoardHeader {
  display: block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  font-size: $board-font-size;
  color: $main-text-color;
  height: 5rem;
}

.o-Left {
  display: inline-block;
  position: absolute;
}

.o-Left > img {
  filter: invert(100%);
  width: $board-font-size + 0.5rem;
  vertical-align: middle;
}

.o-Center {
  display: inline-block;
  position: absolute;
  width: 100%;
  text-align: center;
}

.o-Right {
  display: inline-block;
  position: absolute;
  right: 0;
  top: -1rem;
}

@media only screen and (max-width : 2000px) {
  .o-BoardHeader {
    display: block;
    position: relative;
    width: 70vw;
    box-sizing: border-box;
    font-size: $board-font-size;
    color: $main-text-color;
    height: 5rem;
  }
  .o-Boards {
    width: 80vw;
    height: 70vh;
    overflow-y: auto;
  }
}

@media only screen and (max-width : 1600px) {
  .o-Boards {
    width: 75vw;
    height: 70vh;
    overflow-y: auto;
  }
}

@media only screen and (max-width : 1400px) {
  .o-Boards {
    width: 70vw;
    height: 65vh;
    overflow-y: auto;
  }
}

@media only screen and (max-width : 1100px) {
  .o-BoardHeader {
    display: block;
    position: relative;
    width: 65vw;
    box-sizing: border-box;
    font-size: $board-font-size;
    color: $main-text-color;
    height: 5rem;
  }
  .o-Boards {
    width: 55vw;
    height: 60vh;
    overflow-y: auto;
  }
}
