@import "../../Res/Values.scss";
@import "../../Res/Colors.scss";

.o-AllBoards {
  display: block;
  position: relative;
  padding: $boards-view-padding;
  width: 100%;
  box-sizing: border-box;
}

.previewPanel {
  margin: 1rem;
}

.o-AllBoardsMargin {
  position: relative;
  margin: 0 20rem 0 0;
  overflow-y: scroll;
}