@import "../../Res/Values.scss";
@import "../../Res/Colors.scss";

.o-PasswordChangeWrap {
  margin: 3rem 0 0 0;
  width: 80%;
}

.cPassText {
  position: relative;
  font-size: $main-font-size;
  color: $main-text-color;
  bottom: 1rem;
  margin: 0 0 0 1rem;
}

.cPassCenter {
  width: 100%;
  text-align: center;
}

.c-InputField {
  width: 100%;
  margin: 0 auto;
}

.cPassAdjust {
  width: 100%;
}

.c-InputIn {
  display: block;
  max-width: 25rem;
  min-width: 10rem;
  width: 100%;
  margin: 1rem auto;
}

.cPassContainer button{
  display: inline-block;
  margin: 0.25rem;
}

@media only screen and (max-width : 1000px) {
  .o-PasswordChangeWrap {
    margin-top: -2rem;
    width: 100%;
  }
}