@import "../../Res/Values.scss";
@import "../../Res/Colors.scss";

.cPassText {
  position: relative;
  font-size: $main-font-size;
  color: $main-text-color;
  bottom: 1rem;
  margin: 0 0 0 1rem;
}

.cPassCenter {
  width: fit-content;
  transform: translate(55%, -8%);
  text-align: center;
}

.cPassAdjust {
    margin-right: 2rem;
}

.cPassAdjust-text {
  text-align: center;
  margin-left: 3rem;
  margin-top: 3rem;
}

.cPassTextBox {
  flex: 0 0 70%;
  padding: 1rem;
}

.cPassButtonBox {
  flex: 0 0 30%;
  padding: 1rem;
}

.cPassContainerBT {
  width: 100%;
  float: left;
  text-align: center;
}
.cPassContainer button{
  display: inline-block;
  margin: 0.25rem;
}

@media only screen and (max-width : 2000px) {

}

@media only screen and (max-width : 1600px) {

}

@media only screen and (max-width : 1400px) {

}

@media only screen and (max-width : 1100px) {

}