@import "../../Res/Values.scss";
@import "../../Res/Colors.scss";

.cPassText {
  position: relative;
  font-size: $main-font-size;
  color: $main-text-color;
  bottom: 1rem;
  margin: 0 0 0 1rem;
}

.cPassCenter {
  width: 100%;
  text-align: center;
}

.c-InputField {
  width: 35%;
  margin: 0 auto;
}

.cPassAdjust {
  width: 100%;
}

.c-InputIn {
  display: inline-block;
  text-align: center;
}

.cPassContainer button{
  display: inline-block;
  margin: 0.25rem;
}

.o-PasswordChangeWrap {
  margin: 3rem 0 0 0;
  width: 80rem;
}

@media only screen and (max-width : 2000px) {
  .o-PasswordChangeWrap {
    width: 80rem;
  }
}

@media only screen and (max-width : 1800px) {
  .o-PasswordChangeWrap {
    width: 70rem;
  }

  .cPassContainer {
    margin: 0 0 0 2.5rem;
  }
}

@media only screen and (max-width : 1600px) {
  .o-PasswordChangeWrap {
    width: 48rem;
  }

  .cPassContainer {
    margin: 0 0 0 10rem;
  }

  .cPassAdjust {
    margin: 0 0 0 4rem;
  }
}

@media only screen and (max-width : 1100px) {
  .o-PasswordChangeWrap {
    width: 40rem;
  }

  .cPassContainer {
    margin: 0 0 0 13rem;
  }

  .cPassAdjust {
    margin: 0 0 0 6rem;
  }

  .o-PasswordChangeWrap {
    height: 25rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
}