@import "../../Res/Values.scss";
@import "../../Res/Colors.scss";

.eProfileContainer {
  position: relative;
  display: grid;
  grid-template-columns: minmax(10rem, auto) minmax(10rem, auto);
  grid-template-rows: 2rem 9rem 4rem 4rem 4rem 9rem 2rem;
  grid-column-gap: 1rem;
  width: 80%;
}

.eProfileText {
  grid-column: 1 / span 2;
  grid-row: 1;
  text-align: left;
  font-size: $main-font-size;
  color: $main-text-color;
}

.eProfileLogo {
  grid-column: 1 / span 2;
  grid-row: 2;
  text-align: center;
  width: 100% !important;
  margin: 0 !important;
}

.short-bios {
  display: inline-block;
}

.eProfile-Input {
  display: inline-block;
  margin: 0.5rem 0 !important;
  max-width: 21.5rem;
}

.eProfile-Left {
  position: relative;
  margin: 0 0 0 auto;
  justify-self: end;
}

.eProfile-Bios {
  position: relative;
  display: block !important;
  grid-column: 1 / span 2;
  grid-row: 6;
  max-width: 44rem;
  margin: auto;
  justify-self: center;
}

.eProfileContainerBT {
  width: 100%;
  text-align: center;
  grid-column: 1 / span 2;
  grid-row: 7;
}

.eProfileContainer button{
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
}


@media only screen and (max-width : 1000px) {
  .eProfileContainer {
    width: 100%;
    margin-top: -2rem;
  }
}

@media only screen and (max-width : 450px) {
  .eProfileContainer {
    grid-column-gap: 0;
    grid-template-columns: minmax(10rem, auto);
    grid-template-rows: 2rem 9rem 4rem 4rem 4rem 4rem 4rem 4rem 9rem 2rem;
  }

  .eProfile-Input {
    grid-column: 1;
    max-width: 100%;
  }

  .eProfileContainerBT {
    grid-column: 1;
    grid-row: 10;
  }

  .eProfile-Bios {
    grid-column: 1;
    grid-row: 9;
  }
}