@import "../../Res/Values.scss";
@import "../../Res/Colors.scss";

.groupCreationContainer {
  position: relative;
  height: 35rem;
  width: 44rem;
  font-size: $main-font-size;
  color: $main-text-color;
  bottom: 1rem;
  top: 0.5rem;
  margin-left: 20%;
}

.groupCreationAdjust {
  transform: translate(60%);
  margin-top: -1rem;
  width: 100%
}


@media only screen and (max-width : 2000px) {
  .groupCreationContainer {
    margin-left: 20%;
  }

  .groupCreationAdjust {
    transform: translate(60%);
  }
}

@media only screen and (max-width : 1600px) {
  .groupCreationContainer {
    margin-left: 15%;
  }

  .groupCreationAdjust {
    transform: translate(55%);
  }
}

@media only screen and (max-width : 1400px) {
  .groupCreationContainer {
    margin-left: 5%;
    height: 30rem;
  }

  .groupCreationAdjust {
    transform: translate(45%);
  }
}

@media only screen and (max-width : 1100px) {
  .groupCreationContainer {
    margin-left: 0%;
    height: 26rem;
  }

  .groupCreationAdjust {
    transform: translate(40%);
  }
}