@import "../../Res/Values.scss";
@import "../../Res/Colors.scss";

.o-AllGroups {
  display: block;
  position: relative;
  padding: $boards-view-padding;
  width: 100%;
  box-sizing: border-box;
}

.previewPanel {
  margin: 1rem;
}

.o-AllGroupsMargin {
  position: relative;
  margin: 0 20rem 0 0;
  overflow-y: scroll;
}


@media only screen and (max-width : 2000px) {
  .o-AllBoards {
    display: block;
    position: relative;
    padding: $boards-view-padding;
    width: 100%;
    box-sizing: border-box;
  }
  .o-AllGroupsMargin {
    position: relative;
    margin: 0 20rem 0 0;
    height: 75vh;
    overflow-y: auto;
  }
}

@media only screen and (max-width : 1600px) {
  .o-AllGroups {
    display: block;
    position: relative;
    padding: $boards-view-padding;
    width: 100vw;
    box-sizing: border-box;
  }
  .o-AllGroupsMargin {
    position: relative;
    margin: 0 20rem 0 0;
    height: 75vh;
    overflow-y: auto;
  }
}

@media only screen and (max-width : 1400px) {
  .o-AllGroups {
    display: block;
    position: relative;
    padding: $boards-view-padding;
    width: 90vw;
    box-sizing: border-box;
  }
  .o-AllGroupsMargin {
    position: relative;
    margin: 0 20rem 0 0;
    height: 70vh;
    overflow-y: scroll;
  }
}

@media only screen and (max-width : 1100px) {
  .o-AllGroups {
    display: block;
    position: relative;
    padding: $boards-view-padding;
    width: 75vw;
    box-sizing: border-box;
  }
  .o-AllGroupsMargin {
    position: relative;
    margin: 0 20rem 0 0;
    height: 65vh;
    overflow-y: scroll;
  }
}