.o-LoginFormWrap{
  position: fixed;
  display: grid;
  grid-auto-columns: minmax(5rem, auto);
  grid-template-rows: 3rem auto 24rem auto;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.o-SignupBtn {
  text-align: center;
  grid-column: 3 / span 1;
}

.o-LoginForm {
  grid-column: 1 / span 3;
  grid-row: 3 / span 1;
  width: 100%;
  text-align: center;
}

.o-LoginForm > .o-Button {
  display: block;
  width: 100%;
  margin: 0.5rem auto;
}

.oa-InputField {
  display: inline-block;
  margin: 0.5rem auto !important;
  max-width: 24rem;
}

.o-LoginFormWrap > .o-Button {
  position: fixed;
  display: inline-block;
  right: 2rem;
  top: 0;
}

@media only screen and (max-width : 400px) {
  .o-LoginFormWrap > .o-Button {
    position: absolute;
    display: block;
    margin: 0.5rem auto;
    right: 0;
    left: 0;
  }

  .o-SignupBtn {
    grid-column: 1 / span 3;
  }
}