@import "../../Res/Values.scss";
@import "../../Res/Colors.scss";

.top-nav {
  height: 5rem;
}

.o-NavigationWrap {
  position: fixed;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20rem minmax(10rem, auto);
  grid-template-rows: 5rem auto;
}

.searchbar-wrap {
  grid-column: 2;
  grid-row: 1;
  display: block;
  position: absolute;
  top: 2rem;
  width: 80%;
  min-width: 10rem;
  height: 2rem;
}

.currentItemSpace {
  grid-column: 2;
  grid-row: 2;
  position: absolute;
  display: inline-block;
  width: 100%;
  height: fit-content;
}

.o-LogoAndUser {
  display: inline-block;
  margin: 0.5rem 0.5rem 1rem 0;
}

.o-MenuButton {
  display: inline-block;
}

.activeUser {
  display: inline-block;
  position: relative;
  font-size: $active-user-font-size;
  color: $main-text-color;
  bottom: 1.25rem;
  width: 10rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.side-nav {
  grid-column: 1;
  grid-row: 1 / span 2;
  position: relative;
  display: inline-block;
  left: 2rem;
  //top: 2rem;
  width: 20rem;
}

.list-item {
  position: relative;
  display: block;
  left: 2rem;
  margin: 1rem 0;
}

.logo {
  margin: 1rem;
}

@media only screen and (max-width: 1000px) {
  .o-NavigationWrap {
    grid-template-columns: minmax(10rem, auto);
    grid-template-rows: 5rem 10rem auto;
    overflow-y: scroll;
  }

  .searchbar-wrap {
    grid-column: 1;
    grid-row: 1;
    margin: 0 auto;
    position: relative;
  }

  .o-LogoAndUser {
    display: inline-block;
    margin: 0 0.5rem 0 -0.5rem;
  }


  .logo {
    margin: 0 0.5rem 0 0;
  }


  .side-nav {
    grid-column: 1;
    grid-row: 2;
    position: relative;
    width: 100%;

  }

  .currentItemSpace {
    grid-column: 1;
    grid-row: 3;
    z-index: 0;
  }
}
