@import "../../Res/Values.scss";
@import "../../Res/Colors.scss";

.profileContainer {
  display: grid;
  position: relative;
  grid-template-columns: minmax(40rem, auto) 20rem;
  grid-template-rows: 8rem auto auto auto auto auto auto auto auto;
  width: 80%;
}

.profileText {
  font-size: $main-font-size;
  color: $main-text-color;
}

.profileCenter {
  text-align: center;
  justify-self: center;
}

.profileFilterOnline {
  filter: invert(49%) sepia(94%) saturate(305%) hue-rotate(102deg) brightness(94%) contrast(95%);
}

.profileImg {
  justify-self: center;
}

.profileButtonBox {
  grid-row: 1 / span 9;
  grid-column: 2;
  width: 100%;
  padding: 0.5rem;
  text-align: right;
}

@media only screen and (max-width : 1300px) {
  .profileContainer {
    display: grid;
    position: relative;
    grid-template-columns: minmax(15rem, auto);
    grid-template-rows: 8rem auto auto auto auto auto auto auto auto auto;
  }

  .profileButtonBox {
    grid-row: 10;
    grid-column: 1;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    justify-self: center;
  }

  .o-ActiveButton {
    margin: 0.5rem;
    display: inline-block;
  }
}

@media only screen and (max-width : 1000px) {
  .profileContainer {
    display: grid;
    position: relative;
    grid-template-columns: minmax(15rem, auto);
    grid-template-rows: 8rem auto auto auto auto auto auto auto auto auto;
    width: 100%;
  }
}
