@import "../../Res/Values.scss";
@import "../../Res/Colors.scss";

.text {
  position: relative;
  font-size: $main-font-size;
  color: $main-text-color;
  bottom: 1rem;
  margin: 0 0 0 1rem;
}

.center {
    text-align: center;
}

.filterOnline {
  filter: invert(49%) sepia(94%) saturate(305%) hue-rotate(102deg) brightness(94%) contrast(95%);
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1%;
}

.right {
  float: right;
  width: 300px;
  padding: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.textBox {
  flex: 0 0 70%;
  padding: 10px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.buttonBox {
  flex: 0 0 30%;
  padding: 10px;
}