@import "../../Res/Values.scss";
@import "../../Res/Colors.scss";

.scheduleContainer {
  position: relative;
  height: 40rem;
  width: 50rem;
  font-size: $main-font-size;
  color: $main-text-color;
  bottom: 1rem;
  top: 0.5rem;
  text-align: left;
  margin-left: 2rem;
}

.schedulePad {
  margin-top: 2rem;
}

.scheduleMargin {
  display: inline-block;
  text-align: center;
  background: #238b5e;
  background: $input-field-color;
  border: none;
  border-radius: $input-border-radius;
  font-size: 1rem;
  box-sizing: border-box;
  padding-top: -3rem;
  width: 40%;
  color: $main-text-color;
  height: 2rem;
}