@import "../../Res/Values.scss";
@import "../../Res/Colors.scss";

.scheduleContainer {
  position: relative;
  height: 40rem;
  width: 72rem;
  font-size: $main-font-size;
  color: $main-text-color;
  bottom: 1rem;
  top: 0.5rem;
  text-align: left;
  margin-left: 2rem;
}

.o-ScheduleBoards {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 75vw;
  height: 62vh;
  overflow-y: auto;
}

.o-ScheduleTitle {
  display: block;
  font-size: $schedule-title-font-size;
  color: $main-text-color;
}

.o-ScheduleRangeText {
  margin: 2rem 0 1rem 2rem;
  display: block;
  font-size: $schedule-title-font-size;
  color: $main-text-color;
}

.o-ScheduleRange {
  display: block;
  width: 31rem;
  margin: 2rem;
}

@media only screen and (max-width : 2000px) {
  .o-ScheduleBoards {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 75vw;
    height: 62vh;
    overflow-y: auto;
  }
}

@media only screen and (max-width : 1600px) {
  .o-ScheduleBoards {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 75vw;
    height: 55vh;
    overflow-y: auto;
  }
}

@media only screen and (max-width : 1400px) {
  .o-ScheduleBoards {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 58vw;
    height: 45vh;
    overflow-y: auto;
  }
}

@media only screen and (max-width : 1100px) {
  .o-ScheduleBoards {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 65vw;
    height: 35vh;
  }

  .profileText {
    height: 20vh;
    overflow-y: auto;
  }
}
//.o-ScheduleBoards {
//  position: relative;
//  display: inline-block;
//  box-sizing: border-box;
//  width: 75vw;
//  height: 62vh;
//  overflow-y: auto;
//}