
.o-SignupFormWrap {
  position: fixed;
  display: grid;
  grid-auto-columns: minmax(3rem, auto);
  grid-template-rows: 4.5rem auto 30rem 4.5rem auto;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.ob-InputFields {
  grid-row: 3;
  margin: 0 auto;
  max-width: 41.5rem;
}

.oa-Login {
  grid-column: 3 / span 1;
  position: fixed;
  display: inline-block;
  right: 2rem;
  top: 0;
}

.oa-Signup {
  position: relative;
}

.ob-InputField {
  display: inline-block !important;
  margin: 0.5rem 0.25rem !important;
  max-width: 20rem;
}

.short-bios {
  position: relative;
  height: 8rem;
  margin: 0.5rem auto !important;
  resize: none;
  max-width: 41.5rem;
}

@media only screen and (max-width : 690px) {

}