@import "../../Res/Values.scss";
@import "../../Res/Colors.scss";

.taskCreationContainer {
  position: relative;
  height: 35rem;
  width: 44rem;
  font-size: $main-font-size;
  color: $main-text-color;
  bottom: 1rem;
  top: 0.5rem;
  margin-left: 20%;
}

.taskCreationAdjust {
  transform: translate(43%);
  margin-top: -1rem;
  width: 100%
}