@import "../../Res/Values.scss";
@import "../../Res/Colors.scss";

.userFilterOnline {
  filter: brightness(0) saturate(100%) invert(21%) sepia(31%) saturate(4609%) hue-rotate(344deg) brightness(73%) contrast(131%);
}

.userCenterButton {
  width: 29%;
  text-align:center;
  margin:auto;
}

.userText {
  position: relative;
  font-size: $main-font-size;
  color: $main-text-color;
  bottom: 1rem;
  margin: 0 0 0 1rem;
}

.userCenter {
  text-align: center;
}

.userImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1%;
}

.userContainer {
  display: flex;
  flex-wrap: wrap;
}

.userTextBox {
  flex: 0 0 70%;
  padding: 0.5rem;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.userButtonBox {
  flex: 0 0 30%;
  padding: 0.5rem;
  text-align: right;
}