@import "../../Res/Values.scss";
@import "../../Res/Colors.scss";

.userContainer {
  position: relative;
  display: grid;
  grid-template-columns: minmax(10rem, auto);
  grid-template-rows: 6rem auto auto auto auto auto auto auto auto auto;
  width: 80%;
}

.userFilterOnline {
  filter: brightness(0) saturate(100%) invert(21%) sepia(31%) saturate(4609%) hue-rotate(344deg) brightness(73%) contrast(131%);
}

.userText {
  font-size: $main-font-size;
  color: $main-text-color;
}

.userCenter {
  text-align: center;
  justify-self: center;
}

.userImg {
  justify-self: center;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.userButtonBox {
  grid-column: 1;
  grid-row: 10;
  justify-self: center;
  text-align: center;
}

@media only screen and (max-width : 1000px) {
  .userContainer {
    width: 100%;
  }
}
